
<!-- <select [(ngModel)]="car.colour"">
    <option *ngFor="let x of colours" [value]="x.id" [selected]="car.color.id == x.id">{{x.name}}</option>
</select> -->

<!-- <div class="cards"> -->
    <a class="card">
      <span class="card-header" style="background-image: url(http://placeimg.com/400/200/animals);">
        <span class="card-title">
          <h3>{{_item.name}}</h3>
        </span>
      </span>
      <span class="card-summary">
        A summary will also be present. Usually two to three brief sentences about the content on the detail page.
      </span>
      <span>
        <button type="button" (click)="removeFromCart($event)">remove</button>
        <span>a{{getCount()}}a</span>
        <button type="button" (click)="addToCart($event)">add</button>
      </span>
      <span class="card-meta">
        Published: June 18th, 2015
      </span>
    </a>
<!-- </div> -->
