
<!-- <select [(ngModel)]="car.colour"">
    <option *ngFor="let x of colours" [value]="x.id" [selected]="car.color.id == x.id">{{x.name}}</option>
</select> -->

<!-- <div class="cards"> -->
    <a class="card" (click)="selectItem($event, item)">
      <span class="card-header" style="background-image: url(http://placeimg.com/400/200/animals);">
        <span class="card-title">
          <h3>This is a title for a card</h3>
        </span>
      </span>
      <span class="card-summary">
        A summary will also be present. Usually two to three brief sentences about the content on the detail page.
      </span>
      <span class="card-meta">
        Published: June 18th, 2015
      </span>
    </a>      
<!-- </div> -->