exotic-vegetables: {{cartValue['exotic-vegetables']}}
leafy-green-vegetables: {{cartValue['leafy-green-vegetables']}}
fresh-fruits: {{cartValue['fresh-fruits']}}
fresh-vegetables: {{cartValue['fresh-vegetables']}}

<div style="background-color: yellow;" *ngFor="let subItem of cartValue['items']['exotic-vegetables']">
	{{subItem.name}}
</div>
<div style="background-color: red;" *ngFor="let subItem of cartValue['items']['leafy-green-vegetables']">
	{{subItem.name}}
</div>
<div style="background-color: green;" *ngFor="let subItem of cartValue['items']['fresh-fruits']">
	{{subItem.name}}
</div>
<div style="background-color: pink;" *ngFor="let subItem of cartValue['items']['fresh-vegetables']">
	{{subItem.name}}
</div>


<a class="btn btn-success btn-lg pull-right" (click)="clearCart($event)">
	<span>Clear Cart</span>
</a>
<!-- <table class="table table-bordered">
	<thead>
	  <tr>
	    <th>Firstname</th>
	    <th>Lastname</th>
	    <th>Email</th>
	  </tr>
	</thead>
	<tbody>
	  <tr>
	    <td>John</td>
	    <td>Doe</td>
	    <td>john@example.com</td>
	  </tr>
	  <tr>
	    <td>Mary</td>
	    <td>Moe</td>
	    <td>mary@example.com</td>
	  </tr>
	  <tr>
	    <td>July</td>
	    <td>Dooley</td>
	    <td>july@example.com</td>
	  </tr>
	</tbody>
</table> -->
<button type="button" class="btn btn-success pull-right" (click)="goToCheckout($event)">Checkout</button>